<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
    <title></title>
  </head>
  <body>

    <div class="ui fixed top inverted menu">
      <div class="ui container">
        <div class="header item">
          <a href="/">
            <i class="code icon"></i>Fantasy Football
          </a>
        </div>
        <a href="#" class="item">View Profile</a>
        <a href="#" class="item">Log Out</a>
        <a href="#" class="item">Sign Up</a>
      </div>
    </div>
