<h1>Leagues</h1>

<table>
  <tr>
    <th>
      Leagues
    </th>
  </tr>

    <tr>
      <td>
        League 1 <----
      </td>
    </tr>
    <tr>
      <td>
        League 2
      </td>
    </tr>
    <tr>
      <td>
        League 3
      </td>
    </tr>
</table>

<table>
  <tr>
    <th>Team Name</th>
    <th>Record</th>
  </tr>
  <tr>
    <td>Team 1</td>
    <td>5-3-1</td>
  </tr>
  <tr>
    <td>Team 2</td>
    <td>3-5-1</td>
  </tr>
</table>
